* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2.5vh;
  color: white; }

body {
  background: #efe8d5; }

.displayCardTouchContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100; }
  .displayCardTouchContainer .displayStationCircle {
    width: 35vw;
    height: 35vw;
    border-radius: 35vw;
    position: absolute;
    background: #fffd38;
    top: 35%;
    left: 17.5vw;
    margin-top: -14vw;
    color: #272727;
    line-height: 35vw;
    font-size: 3em;
    text-align: center; }
  .displayCardTouchContainer .displayCard {
    position: relative;
    width: 75vw;
    margin: 70vh auto 0 auto;
    background: black;
    color: white;
    padding: 1em; }
    .displayCardTouchContainer .displayCard__title {
      font-size: 1.4em; }
    .displayCardTouchContainer .displayCard__lines {
      font-size: 0.7em; }
      .displayCardTouchContainer .displayCard__lines--circle {
        width: 2em;
        height: 2em;
        margin-top: 0.5em;
        border-radius: 1em;
        text-align: center;
        line-height: 2em;
        font-weight: bold;
        font-size: 1.4em;
        vertical-align: middle;
        display: inline-block; }

.rightStationHolder {
  position: absolute;
  width: 40vw;
  height: 100vh;
  overflow: hidden;
  right: 0;
  top: 0; }
  .rightStationHolder__bgBar {
    height: 100%;
    width: 3%;
    background: #272727;
    margin: 0 21%;
    border-left: 1px #555 solid;
    border-right: 1px #666 solid; }
  .rightStationHolder .stationOrder {
    width: 100%;
    top: 35%;
    position: absolute;
    padding-left: 16%;
    transition: top 0.2s; }
    .rightStationHolder .stationOrder__station {
      transition: all 0.2s;
      border-radius: 2.5vw;
      border: solid black 1vw;
      width: 3vw;
      height: 3vw;
      display: block;
      background: white;
      margin: 3vw 0; }
      .rightStationHolder .stationOrder__station--label {
        padding-left: 5vw;
        font-size: 0.75em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 15vh;
        position: absolute;
        text-align: left;
        color: #272727; }
      .rightStationHolder .stationOrder__station.lockedMore {
        margin-right: -0.5vw;
        border-right: solid gold 1vw; }
      .rightStationHolder .stationOrder__station.lockedLess {
        margin-left: -0.5vw;
        border-left: solid gold 1vw; }
      .rightStationHolder .stationOrder__station--lineLabel {
        width: inherit;
        height: inherit;
        vertical-align: middle;
        color: inherit;
        text-align: center;
        font-size: 2em;
        line-height: 3vw;
        position: absolute; }
    .rightStationHolder .stationOrder .extraSpace {
      margin-top: 12vw; }
    .rightStationHolder .stationOrder__stationSelected {
      border-radius: 5vw;
      border: dashed #272727 1vw;
      width: 6vw;
      height: 6vw;
      display: block;
      background: white;
      opacity: 0.8;
      position: absolute;
      top: 35%;
      margin-left: 5vw; }

.fourfivesix {
  background: #139240; }

.nqrw {
  background: #fffd38;
  color: black; }

.l {
  background: #999999; }

.ace {
  background: #2b52aa; }

.seven {
  background: #b73aab; }

.bdfm {
  background: #f4632a; }

.onetwothree {
  background: #ec3836; }

.jz {
  background: #986538; }

.s {
  background: #808183; }

.g {
  background: #6ebd4c; }

.waterBg {
  width: 30vw;
  height: 100vh;
  background: #acc9e9; }

/*# sourceMappingURL=styles.css.map */
