$displayStationWidth: 35vw
.displayCardTouchContainer
    width: 100vw
    height: 100vh
    position: absolute
    top: 0
    left: 0
    z-index: 100
    .displayStationCircle
        width: $displayStationWidth
        height: $displayStationWidth
        border-radius: $displayStationWidth
        position: absolute
        background: $nqrw
        top: $startingTopOffset
        left: $displayStationWidth * .5
        margin-top: $displayStationWidth*-.4
        color: $mtaGrey
        line-height: $displayStationWidth
        font-size: 3em
        text-align: center
    .displayCard
        position: relative
        width: 75vw
        margin: 70vh auto 0 auto
        background: black
        color: white
        padding: 1em
        @at-root #{&}__title
            font-size: 1.4em
        @at-root #{&}__lines
            font-size: .7em
            @at-root #{&}--circle
                width: 2em
                height: 2em
                margin-top: .5em
                border-radius: 1em
                text-align: center
                line-height: 2em
                font-weight: bold
                font-size: 1.4em
                vertical-align: middle
                display: inline-block