
.fourfivesix
	background: $fourfivesix
	color: white
.nqrw
	background: $nqrw
	color: $mtaGrey
.l
	background: $l
	color: white
.ace
	background: $ace
	color: white
.seven
	background: $seven
	color: white
.bdfm
	background: $bdfm
	color: white
.onetwothree
	background: $onetwothree
	color: white
.jz
	background: $jz
	color: white
.s
	background: $s
	color: white
.g 
	background: $g
	color: white