$stationWidth: 3vw
$stationMargin: $stationWidth/2 + 1
$stationTransitionTime: .2s
.rightStationHolder
    position: absolute
    width: 40vw
    height: 100vh
    overflow: hidden
    right: 0
    top: 0
    @at-root #{&}__bgBar
        height: 100%
        width: 3%
        background: $mtaGrey
        margin: 0 21%
        border-left: 1px #555 solid
        border-right: 1px #666 solid
    .stationOrder
        width: 100%
        top: $startingTopOffset
        position: absolute
        padding-left: 16%
        transition: top $stationTransitionTime
        @at-root #{&}__station
            transition: all $stationTransitionTime
            border-radius: $stationMargin
            border: solid black 1vw
            width: $stationWidth
            height: $stationWidth
            float: left
            clear: left
            margin: $stationWidth auto
            @at-root #{&}--label
                padding-left: $stationWidth*2-1
                font-size: .75em
                overflow: hidden
                white-space: nowrap
                text-overflow: ellipsis
                width: 15vh
                position: absolute
                text-align: left
                color: $mtaGrey
                margin-top: -2px
            &.lockedMore
                margin-right: -.5vw
                border-right: solid gold 1vw
            &.lockedLess
                margin-left: -.5vw
                border-left: solid gold 1vw
            @at-root #{&}--lineLabel
                width: inherit
                height: inherit
                vertical-align: middle
                color: inherit
                text-align: center
                font-size: 2em
                line-height: $stationWidth
                position: absolute
            &.blankStation
                border-radius: $stationMargin*2
                border: dashed $mtaGrey 1vw
                width: $stationWidth*2
                height: $stationWidth*2
                background: white
                opacity: .8

