$fourfivesix: rgb(19, 146, 64)
$nqrw: rgb(255, 253, 56)
$l: rgb(153, 153, 153)
$ace: rgb(43, 82, 170)
$seven: rgb(183, 58, 171)
$bdfm: rgb(244, 99, 42)
$onetwothree: rgb(236, 56, 54)
$jz: rgb(152, 101, 56)
$s: rgb(128, 129, 131)
$g: rgb(110, 189, 76)

*
    margin: 0
    padding: 0
    font-family: Helvetica, sans-serif
    font-weight: bold
    font-size: 2.5vh
    color: white

body
    background: #205655
        
@import displayCard.sass

@import stationOrder.sass

@import globalLineStyles.sass